<!DOCTYPE html>
<html>

<head>
  <script data-require="angular.js@1.3.0" data-semver="1.3.0" src="https://code.angularjs.org/1.3.0/angular.js"></script>
  <link rel="stylesheet" href="style.css" />
  <!--<script src="script.js"></script>-->
  <!--<script src="StockItem.js"></script>
  <script src="StockItemList.js"></script>
  <script src="app.js"></script>-->
</head>
 
 <body>
  <div>
    <h1>Item List</h1>
    <ul>
      <li ng-repeat="item in stockItemList">
        <ol><strong>{{item.name}}</strong>
          <ol>Description - {{item.description}}</ol>
          <ol>Price - {{item.price}}</ol>
          <ol>Available Date - {{item.availableDate}}</ol>
          <ol>Taxable - {{item.taxable}}</ol>
          <ol>Quantity - {{item.quantity}}</ol>
        </ol>
      </li>
    </ul>
    <div>
      <p>*************************************************************************************</p>
      <h1>Add a new Item</h1>
      <form>
        Item Name:
        <br>
        <input type="text" ng-model="newItemName">
        <br> Description:
        <br>
        <input type="text" ng-model="newItemDescription">
        <br> Price:
        <br>
        <input type="text" ng-model="newItemPrice">
        <br> Available Date:
        <br>
        <input type="text" ng-model="newItemAvailableDate">
        <br> Taxable:
        <br>
        <input type="text" ng-model="newItemTaxable">
        <br> Quantity:
        <br>
        <input type="text" ng-model="newItemQuantity">
        <br>
        <br>
        <button ng-click="addNewItem()">Add New Item</button>
      </form>
    </div>

  </div>

</body>

</html>